@charset 'utf-8';

@import 'variables';
@import 'mixins';
@import 'customize_bootstrap';
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  font-weight: 300;
}

.site-header {
  .navbar-brand {
    font-weight: 700;
  }
}

.landing {
  margin-top: -1em;
  background: $teal;
  padding: 2em 0;

  @include large {
    padding: 5em 0;
  }

  color: $white;

  .lead {
    font-size: 2.5em;

    @include large {
      font-size: 3.5em;
    }

    margin-bottom: 1em;
  }

  .sub-lead {
    font-size: 1.2em;
    line-height: 1.2em;

    @include large {
      font-size: 1.5em;
      line-height: 1.3em;
    }

  }

  .btn-pinky {
    background-color: $pinky;
    color: $white;
    font-size: 1.5em;
    padding: 10px;
    transition: background-color .5s ease;

    &:hover {
      background-color: darken($pinky, 10%);
    }
  }

}

.section-header {
  margin: 2em 0;

  h2 {
    font-size: 2em;
    font-weight: 300;

    @include large {
      font-size: 3em;
    }
  }
}

section {
  p {
    margin-bottom: 1em;

    @include large {
      font-size: 1.2em;
    }
  }

  li {
    line-height: 1.2em;

    @include large {
      font-size: 1.2em;
    }
  }

  em {
    font-weight: 700;
    font-style: normal;
  }
}

.about-us {
  .row {
    margin-bottom: 4em;
  }
  .mug {
      border-radius: 50%;
      @media(max-width: $mug-break) {
	  display: none;
      }
  }

  h3 {
    margin-top: 0;
  }
}
