<nav class="navbar navbar-default site-header">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Dev To Prod", "/", class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="contact-us">
        <a href="mailto:hello@devtoprod.com">hello@devtoprod.com</a>
      </li>
    </ul>
  </div>
</nav>
