<section class="landing">
  <div class="container">
    <header>
      <h1 class="lead">
        Learn to ship code reliably, repeatably and quickly.
      </h1>
    </header>
    <p class="sub-lead">
      We help you learn DevOps tools and techniques,
      so you can focus on continuously delivering value to customers.
    </p>
    <p><a class="btn btn-pinky" href="mailto:hello@devtoprod.com">Get in touch</a></p>
  </div>
</section>

<section class="offering">
  <div class="container">
    <header class="section-header">
      <h2>
        What we offer
      </h2>
    </header>
    <p>
      We offer a 2-day in person bootcamp with a focus on
      <ul>
        <li>Delivery pipelines</li>
        <li>Deploying to the cloud</li>
        <li>Infrastructure automation</li>
        <li>Perfomance and scaling</li>
	<li>Effective developer workflows</li>
        <li>Effective testing</li>
      </ul>
    </p>
    <p>
      Participants will create a continuous delivery pipeline for a real-world
      application and deploy it to Amazon Web Services.
    </p>
    <p>
      We emphasize a culture of continous delivery and pragmatic automation.
    </p>
    <p>
      Our bootcamps are highly interactive, hands on and based on the socratic
      method of learning.
    </p>
  </div>
</section>

<section id="about-us" class="about-us">
  <div class="container">
    <header class="section-header">
      <h2>Who we are</h2>
    </header>

    <div class="row">
      <div class="col-md-2">
        <%= image_tag 'sahil-headshot.jpeg', width: 150, height: 150, class: 'mug' %>
      </div>
      <div class="col-md-10">
        <h3>Sahil Muthoo</h3>
	<p>Sahil writes software for the joy of creation.
	  He loves that feeling when castles of sand in his head come alive inside a computer.
	</p>
        <p>Sahil hates buzzwords but he is a &quot;full stack&quot; developer!
	<p>He was one of the primary developers of Snap CI - a hosted continuous delivery platform.
	  This gave him in depth experience with infrastructure as code, Amazon AWS, virtualization and scaling
	</p>
	<p>
	  He has also been a tech lead at ThoughtWorks and worked in teams both large and small.
	  He understands the value stream of software and its delivery.
	</p>
	<p>In a past life, he was a developer at Times Internet Group where he built a CRM and sales automation suite.</p>
	<p>Besides software he enjoys Belgian and craft beers, supporting the Indian cricket team and playing terrible football.</p>
	<p>Sahil has a Bachelors degree in Computer Science from JSS, Noida.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <h3>Mohit Thatte</h3>
	<p>Mohit is addicted to learning, and believes 'Ars longa, vita brevis'.
	  He also believes that software development is primarily about teams, culture and empathy.</p>
	<p>Mohit has been a Clojure developer at Helpshift, where he understood what mobile scale really means.
	  He also learnt (and loved) functional programming, Emacs and how AWS can sometimes fail at extremely high load.</p>
	<p>He did a 2 year stint at Thoughtworks, where he worked on a micro-service based solution for a gaming company.
	  While primarily being a Ruby developer, he created a number of Puppet modules,
	  as well as a declarative deployment framework for micro-services.</p>
	<p>His first job was at Oracle on the WebLogic Event Server team.
	  He primarily contributed to the low-latency event processing system,
	  including extending SQL for time and range based queries. </p>
	<p>Mohit loves to teach and thrives in the company of fellow learners. He co-founded RebelGuru, a startup focused on engineering education in India.
	  He has co-authored video series on Java and Data Structures. He has been a coach at RailsGirls Pune, and conducted a number of bootcamps on programming topics in Mumbai and Pune.</p>
	<p>When he's not working, he loves scuba diving.</p>
        <p>Mohit has a Masters degree in Computer Science from Cornell University.</p>
      </div>
            <div class="col-md-2">
        <%= image_tag 'mohit-headshot.jpeg', width: 150, height: 150, class: 'mug' %>
      </div>
    </div>

  </div>
</section>

